<div class='w3-container'>
    <div *ngIf="!journalGUID">
      <h5>Journals</h5>
      <ul>
            <li *ngFor="let guid of utils.objectKeys(journals)">
                <a routerLink="/journals/{{guid}}">{{journals[guid].title }}</a>
            </li>

      </ul>
    </div>
    <div *ngIf="journalGUID">
      <pre>{{journals[journalGUID] | json}}</pre>
    </div>
</div>
