<div class='w3-container'>
  <h5>Factions</h5>
  <ul>
    <li *ngFor="let guid of factions">
      <a  routerLink="/factions/{{guid}}">{{guid}}</a>
    </li>

  </ul>

  <hr>
  <ng-container *ngIf="factionGUID">
    <app-faction-viewer [guid]="factionGUID"></app-faction-viewer>
  </ng-container>
</div>
