<div *ngIf="!characterGUID">
    <h5>Characters</h5>
    <ul>
        <li *ngFor="let guid of utils.objectKeys(characters)">
            <a  routerLink="/character/{{guid}}">{{characters[guid].name }}</a>
        </li>

    </ul>
</div>
<div *ngIf="characterGUID">
    <pre>{{characters[characterGUID] | json}}</pre>
</div>
