<div *ngIf="npcs">
	<div>
	    <a *ngFor="let npc of npcs" routerLink="{{npc.guid}}">{{npc.name}}</a>
	</div>
	<div *ngFor="let npc of npcs">
	    <div *ngIf="guid && npc.guid === guid ">
	    	<app-character-viewer [character]="npc"></app-character-viewer>
	    </div>
	</div>
</div>
