<div class="container">
  <h1>Signin</h1>
  <form (ngSubmit)="onSubmit()" #loginForm="ngForm">
    <div class="form-group">
      <label for="name">Name</label>
      <input name="name" type="text" [(ngModel)]="name" class="form-control" id="name" required>
    </div>

    <div class="form-group">
      <label for="password">password</label>
      <input name="password" type="password" required [(ngModel)]="password" class="form-control" id="password">
    </div>
    <br>
    <button type="submit" class="btn btn-success" [disabled]="!loginForm.form.valid">login</button>
  </form>
  <p>{{error}}</p>
</div>