<div class='main-container w3-container' fxLayout="column" >
    <div class="w3-content" fxLayout='row' flex="100%">
        <div class="w3-center w3-padding-large">
            <h4 class="w3-padding-large w3-black w3-xlarge w3-wide w3-animate-opacity">{{title}}</h4>
        </div>
    </div>


    <div fxLayout='row' fxFlex>

            <!-- Nav Bar -->
        <div class="w3-padding side-nav" fxLayout='column'>
            <a routerLink="home">Home</a>
            <a routerLink="factions">Factions</a>
            <a routerLink="characters">Characters</a>
            <a routerLink="npc">Npcs</a>
            <a routerLink="character-generation">New NPC</a>
            <div fxFlex></div>
            <a (click)="logout()" >logout</a>
        </div>
        <!-- Current Tab -->
        <div fxFlex='80%'>
            <!--<div class="game-overview" fxLayout="row wrap" fxLayoutGap="10px">-->
                <!--<h3 fxFlex="100%">Welcome, {{player.name}}.</h3>-->
                <!--<small><b>Sector:</b> {{game.sector}}</small>-->
                <!--<small><b>System:</b> {{game.system}}</small>-->
                <!--<small><b>Planet:</b> {{game.planet}}</small>-->
                <!--<small><b>Current Day:</b> {{game.currentDay}}</small>-->
            <!--</div>-->
            <hr>

            <router-outlet></router-outlet>
        </div>


    </div>


</div>