<div class='w3-container'>
	<h5>Character</h5>
	<div class="selection-tabs" fxLayout="row">
		<span *ngFor="let characterGUID of player.characters" (click)="selectedCharacterGUID = characterGUID">{{characters[characterGUID].name}}</span>
	</div>
	<div class="selected-item" *ngIf="selectedCharacterGUID">
		{{characters[selectedCharacterGUID].name}}
	</div>
	<pre> {{ characters | json}}</pre>
</div>