@import '../../../variables';
:host{
  .selection-tabs{
    span{
      cursor: pointer;
      background-color: $grey-border;
      padding: 0 10px;
      color:white;
    }
  }
  .selected-item{
    border: 1px solid $grey-border;
  }
}