<div class="w3-content characters" fxLayout="row wrap">
  <div fxFlex="25%" class="list" fxLayout="row wrap">
    <div fxFlex="100%" fxLayout="row" *ngFor="let npc of npcs ; index as i" [ngClass]="{'w3-black': npc == character}" class='w3-button w3-white' >
      <button *ngIf="character === npc" class='w3-button w3-black' (click)="deleteNpc(i)">X</button>
      <div fxFlex></div>
      <button  class='w3-button w3-white' [ngClass]="{'w3-black': npc == character}" (click)="character = npc">{{npc.name}}</button>
    </div>

  </div>
  <div fxFlex="75%" class="characters w3-black w3-padding-large">

    <div *ngIf="character">
      <h4>Character</h4>
      <table width='100%'>
        <tr>
          <th (click)="levelUp(character)">Level +</th>
          <th>Name</th>
          <th>HP</th>
        </tr>
        <tr>
          <td>{{character.level}}</td>
          <td><input [(ngModel)]="character.name"></td>
          <td><input type="number" [(ngModel)]="character.hitpoints"></td>
        </tr>
      </table>
      <br>
      <table width='100%'>
        <tr>
          <th>Class</th>
          <th>Atk Bonus</th>
          <th>credit</th>
        </tr>
        <tr>
          <td>{{character.class}}</td>
          <td>{{character.savingThrows.ab}}</td>
          <td><input type="number" [(ngModel)]="character.credits"></td>
        </tr>
      </table>
      <br>
      <hr>

      <h4>Weapon</h4>
      <table width='100%'>
        <tr>
          <th>Name</th>
          <th>Damange</th>
          <th>Range</th>
          <th>Hit Roll</th>
        </tr>
        <tr>
          <td>{{character.weapons.name}}</td>
          <td>{{character.weapons.damage}}</td>
          <td>{{character.weapons.range}}</td>
          <td>{{getAttackRoll(character, character.weapons)}}</td>

        </tr>
      </table>

      <br>
      <hr>

      <h4>Attributes</h4>
      <table width='100%'>
        <tr>
          <th>strength</th>
          <th>intelligence</th>
          <th>wisdom</th>
          <th>dexterity</th>
          <th>constitution</th>
          <th>charisma</th>
        </tr>
        <tr>
          <td>{{character.attributes.strength}}</td>
          <td>{{character.attributes.intelligence}}</td>
          <td>{{character.attributes.wisdom}}</td>
          <td>{{character.attributes.dexterity}}</td>
          <td>{{character.attributes.constitution}}</td>
          <td>{{character.attributes.charisma}}</td>
        </tr>
      </table>

      <br>
      <hr>

      <h4>Saves</h4>
      <table width='100%'>
        <tr>
          <th>physical</th>
          <th>metal</th>
          <th>wisdom</th>
          <th>evasion</th>
          <th>tech</th>
          <th>luck</th>
        </tr>
        <tr>
          <td>{{character.savingThrows.physical}}</td>
          <td>{{character.savingThrows.metal}}</td>
          <td>{{character.savingThrows.wisdom}}</td>
          <td>{{character.savingThrows.evasion}}</td>
          <td>{{character.savingThrows.tech}}</td>
          <td>{{character.savingThrows.luck}}</td>
        </tr>
      </table>
      <br>
      <hr>
      <h4>Skills</h4>
      <div fxLayout='row wrap'>
             <span fxFlex="25%" *ngFor="let key of utils.objectKeys(character.skills)">
                {{ character.skills[key].skill }}:  {{ character.skills[key].level }}
              </span>
      </div>

    </div>
  </div>
</div>

