
.characters td{
	padding: 0 5px;
	text-align: center;
}

.characters tr{
	text-align: center;
}

input{
	text-align: center;
	border: none;
	min-width: 10px;
	color: white;
	background: transparent!important;
}
