<div class='w3-content w3-padding-large' fxLayout="row wrap" fxLayoutAlign="center">
    <div class="w3-black w3-padding-large"  fxFlex="75%" fxFlex.lt-md="100%">
        <div  fxLayout="row" fxLayoutGap="7px" fxFlex="100%" fxLayoutAlign="center">
            <div>
                <h6>Class</h6>
                <select [(ngModel)]="selectedClass" id="selectedClass">
                    <option value="" selected>Random</option>
                    <option *ngFor="let c of classList" [value]="c">{{c}}</option>
                </select>
            </div>
            <div>
                <h6>Background</h6>
                <select [(ngModel)]="selectedBackground" id="selectedBackground">
                    <option value="" selected>Random</option>
                    <option *ngFor="let b of backgroundList" [value]="b">{{b}}</option>
                </select>
            </div>
            <div>
                <h6>Level</h6>
                <input type="number" aria-valuemin="0" aria-valuemax="20" fxFlex="100%" [(ngModel)]="selectedLevel" id="selectedLevel">
            </div>
        </div>
        <div fxFlex="100%" class="w3-padding-32" fxLayout="row" fxLayoutAlign="center" >
            <button class='w3-button w3-dark-grey' (click)="generate()">Generate</button>
        </div>
    </div>
</div>

<app-character-viewer [character]="newNPC"></app-character-viewer>

<div class="w3-content" fxLayout="row" fxAlign='right'>
    <button (click)='saveNew()'>save</button>
</div>
